appsettings.Development.json
.DS_Store
*DotSettings.user
/.vs
*.log
**.g.cs
.junie/guidelines.md
**/.idea/**
**/bin/**
**/obj/**
**/certs/*
!**/certs/.gitkeep
**/dynamic/**
!**/dynamic/.gitkeep
**/node_modules/**
**/test-results/**
**/dist/**
/tests/wiremock/log
.env

/.junie/backend_guidelines.md
/.junie/bootstrap_prompt.md

**/.tmp/**
/.output.txt
